*{
    margin: 0;
    padding: 0;
    font-family:Gabarito ;
}
nav{
    position: sticky;
    margin-top: 2px;
    text-align: center;
    background-color: red;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    color: black;
}
li{
    padding: 15px;
}
nav a{
    text-decoration: none;
}
body{
    background-color: cyan;
  }
  p{
    text-align: center;
  }
  img{
    width: 500px;
    margin-left: 500px;
  }