body {
    font-family: gabarito;
    margin: 0;
    padding: 0;
    background: linear-gradient(black, purple) no-repeat;

  }
  
  .admin-container {
    display: flex;
  }
  
  .admin-sidebar {
    width: 200px;
    background-color: black;
    padding: 20px;
    color: orangered;
  }
  
  .admin-sidebar h2 {
    margin-bottom: 10px;
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admin-sidebar li {
    padding: 10px;
  }
  
  .admin-sidebar li a {
    color: orangered;
    text-decoration: none;
    display: block;
  }
  
  .admin-sidebar li a:hover {
    background-color: orangered;
    color: black;
  }
  
  .admin-content {
    padding: 20px;
    margin: auto;
  }
  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid orangered;
    padding: 8px;
    text-align: left;
    color: orangered;
}

th {
    background-color: black;
    color: orangered;
}

tr:hover {
    background-color: purple;
    color: black;
}