*{
    margin: 0;
    padding: 0;
    font-family:Gabarito ;
}
nav{
    margin-bottom: 53px;
}
nav a{
    position: sticky;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
   text-decoration: none;
   color: orangered;
}
nav a:hover{
    background-color: orangered;
    color: black;
}
ul{
    display: flex;
    list-style: none;
    color: black;
}
li{
    padding: 10px;
}
@media screen and (max-width:300px) {
    nav a{
        float: none;
        display: block;
        text-align: left;
    }
}
h1{
    background-size: cover;
    padding: 20px;
    background-color: black;
    color: orangered;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}
body{
    background: linear-gradient(black, purple) no-repeat;
    

  }

      @media screen and (max-width:700px){
        body{
            background: linear-gradient(black, purple) no-repeat;
        
          }
        }
        .box-container {
            display: flex;
            justify-content: center;
            height: 100%;
          }
          
          .box {
            background-color: black;
            padding: 10px;
            max-width: 400px;
            width: 100%;
            border-radius: 13px;
          }
          form {
            display: flex;
            flex-direction: column;
          }
          
          label {
            margin-bottom: 4px;
          }
          
          input, textarea {
            padding: 8px;
            margin-bottom: 10px;
            border: 2px solid orangered;
          }
          
          button {
            padding: 8px 15px;
            background-color: orangered;
            color: honeydew;
            border: none;
            border-radius: 5px;
          }
          button:hover {
            background-color: #9f5130;
          }
          footer{
            margin-top: 13%;
            text-align: center;
            background-color: black;
            color: orangered;
            padding: 0.9%;
          }
          @media screen and (max-width:300px){
            body{
                background: linear-gradient(black, purple) no-repeat;
            
              }
              nav{
                margin-bottom: 43px;
            }
            footer{
              margin-top: 11.1%;
              text-align: center;
              background-color: black;
              color: orangered;
              padding: 0.9%;
            }
            }