*{
    margin: 0;
    padding: 0;
    font-family:Gabarito ;
}
a{
    color: orangered;
}
nav a{
    position: sticky;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
   text-decoration: none;
}
nav a:hover{
    background-color: orangered;
    color: black;
}
ul{
    display: flex;
    list-style: none;
    color: black;
}
li{
    padding: 10px;
}
body{
    background: linear-gradient(black, purple) no-repeat;

  }
  h3{
    padding: 12px;
    background-color: black;
    color: orangered;
    text-align: center;
    border: 2px solid;
}

.container{
    margin-left: 00px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "birds places things"
    "data1 data2 data3"
    "data4 data5 data6"
    "data7 data8 data9"
    ; 
}
.image{
    width:300px;
    height: 300px;
    margin-left: 90px;
    border: 2px solid;
    border-color: orangered;
}
p{
    font-size: 20px;
    text-align: center;
    color: orangered;
}
.styled-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    background-color: honeydew;
  }
  
  .styled-button:hover {
    background-color: blueviolet;
    color: white;
  }
  
  .styled-button:focus {
    outline: none;
  }
  h1 {
    background-color: Black ;
    color: orangered;
  }
footer{
  position: relative;
  bottom: 0;
   width: 100%;
}